<div id="Footer" class="cl">
  <div id="footer1">

    <a class="bottoma" target="_blank" href="#">
      关于魅族
    </a>
    <img class="footline" src="{#WWW}View/hy_meizu/css/space.gif">
    <a class="bottoma" href="#" target="_blank">
      法律声明
    </a>
    <img class="footline" src="{#WWW}View/hy_meizu/css/space.gif">
    <a class="bottoma" target="_blank" href="#">
      工作机会
    </a>
    <img class="footline" src="{#WWW}View/hy_meizu/css/space.gif">
    <a class="bottoma" target="_blank" href="#">
      联系我们
    </a>
    


  </div>
  <div id="footer2" class="copyright">
    <span>
      ©2015 HYBBS. All rights reserved.
    </span>


  </div>
</div>
</body>
</html>
