<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}{$conf.title2}</title>

<meta name="keywords" content="{$conf.keywords}">
<meta name="descripton" content="{$conf.description}">

<link rel="stylesheet" type="text/css" href="{#WWW}View/hy_meizu/css/common.css" />
<script>
var www = "{#WWW}";
var exp = "{#EXP}";
</script>
<script src="{#WWW}public/js/jquery.min.js"></script>
<script src="{#WWW}public/js/app.js"></script>
<link href="{#WWW}public/css/alert.css" rel="stylesheet">

</head>
<body>
{include h_m}
