<div id="expandBox" class="expandbox_mn">
  <div class="signinwrap_expand">
    <div class="signin_expand signin_expand_2 " style="width:272px;">
      

        <div class="btncont_signin btncont_signin_2" onclick="show_post_thread()">
          发&nbsp;表&nbsp;主&nbsp;题
        </div>
        <div class="cr">
        </div>
        
    </div>
   
  </div>
  <div class="titlebar_expand"><h3>最新GIT下载 &nbsp;&nbsp;</h3><span></span>
  <script src='https://git.oschina.net/hyyyp/HYBBS/star_widget_preview'></script> 
  </div>
  <div class="readblock_expand rules_expand">

    <script src='https://git.oschina.net/hyyyp/HYBBS/widget_preview'></script>
    <style>
    .pro_name a{color: #4183c4;}
    .osc_git_title{background-color: #d8e5f1;}
    .osc_git_box{background-color: #fafafa;}
    .osc_git_box{border-color: #ddd;}
    .osc_git_info{color: #666;}
    .osc_git_main a{color: #4183c4;}
    </style>
  </div>
</div>
